<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/new.css">

</head>

<body>
    <form method="post" action="/posts">
        <label for="username">Username:</label>
        <input type="text" placeholder="username" name="username"> <br><br>
        <textarea name="content" cols="30" rows="10" placeholder="Write your posts">

        </textarea><br><br>
        <button>Submit Post</button>
    </form>
    <div class="footer">
        <p>Made with :)</p>
    </div>
</body>

</html>