    body {
        margin: 5px;
        padding: 5px;
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    }
    
    .navbar-heading {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 1, 0, 1);
    }
    
    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .post {
        margin: 5px;
        border: 2px solid #ccc;
        padding: 5px;
        width: calc(31.5% - 10px);
        height: 300px;
        overflow: hidden;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        background-color: blue;
        display: flex;
        flex-direction: column;
    }
    
    .post:last-child {
        margin-top: auto;
    }
    
    .user {
        font-size: 23px;
        font-style: oblique;
        text-shadow: 2px 2px 4px #004d7a;
    }
    
    .content {
        margin: 4px;
        flex-grow: 1;
    }
    
    .buttons {
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .buttons button {
        background: linear-gradient(#051937, #A8EB12);
        background-color: white;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    .buttons button:hover {
        transform: scale(1.1);
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    .createBtn a {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 15px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background: linear-gradient(to right, #70b5f0, #00f2fe);
        background-size: 200% auto;
        transition: background-position 0.5s;
        text-align: center;
        text-decoration: none;
    }
    
    .createBtn a:hover {
        background-position: right center;
    }
    
    .footer {
        color: #fff;
        text-align: right;
        padding: 20px 0;
    }
    
    .footer p {
        margin: 0;
        font-size: 16px;
    }